/*
 * main css for Scramble
 */

html {
    overflow: hidden;
}
body {
    background-color: lightyellow;
    margin: 0;
    font-family: marigny,sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* images expand to fit the width/height of the container */
img {
    max-width: 100%;
    max-height: 100%;
}

/* main is the entire screen */
main {
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;

    /* prevent context menu (long touch) */
    touch-action: none;

    /* prevent text selection (long touch) */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    -moz-user-select: none; /* Firefox */
    user-select: none; /* Standard syntax */

    /* prevent android from highlighting selected area */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h2 {
  font-family: synthemesc,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  color: darkorange;
}

h3 {
  font-size: 2em;
}

.title {
  font-family: synthemesc,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  color: darkorange;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.player-name {
  flex-grow: 1;
}

.game-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.time-remaining {
  font-family: monospace;
  font-size: 1.5em;
  margin-top: 10px;
}

#instructions {
  background-color: #87CEEB;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  border: 2px solid black;
  transition-duration: 0.4s;
  font-family: marigny,sans-serif;
  font-weight: 500;
  font-style: normal;
}

#instructions:hover {
  background-color: #4169E1;
  color: white;
}

#start {
  margin-top: 2em;
  background-color: #4CBB17;
  border: none;
  color: black;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  border: 2px solid black;
  transition-duration: 0.4s;
  font-family: marigny,sans-serif;
  font-weight: 500;
  font-style: normal;
}

#start:hover {
  background-color: #228B22;
  color: white;
}

#connecting {
  align-self: center;
  font-family: Arial, sans-serif;
}

#name {
  margin-top: 300px;
}

#players {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

#ready {
  margin-top: 15px;
  background-color: #4CBB17;
  border: none;
  color: black;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  border: 2px solid black;
  transition-duration: 0.4s;
  font-family: marigny,sans-serif;
  font-weight: 500;
  font-style: normal;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

#ready:active {
  background-color: #228B22;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

#words-found {
  width: 80%;
  max-width: 50em;
  height: 10em;
  background-color: #87CEEB;
  border-radius: 25px;
  border: 2px solid black;
  overflow-y: scroll;
  text-transform: uppercase;
  text-align: center;
}

#game-feedback {
  width: 80%;
  height: 1.5em;
  text-align: center;
  color: red;
  margin-top: 20px;
}
