/*
 * main css for Scramble
 */

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
    overflow: hidden;
}
body {
    background-color: lightyellow;
    margin: 0;
    font-family: 'Gloria Hallelujah', cursive;
}

/* images expand to fit the width/height of the container */
img {
    max-width: 100%;
    max-height: 100%;
}

/* main is the entire screen */
main {
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;

    /* prevent context menu (long touch) */
    touch-action: none;

    /* prevent text selection (long touch) */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    -moz-user-select: none; /* Firefox */
    user-select: none; /* Standard syntax */

    /* prevent android from highlighting selected area */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.title {
  font-family: synthemesc,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  color: darkorange;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#instructions {
  background-color: #0F52BA;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  border: 2px solid black;
  transition-duration: 0.4s;
}

#instructions:hover {
  background-color: darkblue;
  color: white;
}

#start {
  margin-top: 2em;
  background-color: #158415;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  border: 2px solid black;
    transition-duration: 0.4s;
}

#start:hover {
  background-color: darkgreen;
  color: white;
}

#connecting {
  align-self: center;
  font-family: Arial, sans-serif;
}
