<section class="game-content">
  <div class="time-remaining">
    <span>Time Remaining</span>
    <span id="clock">:30</span>
  </div>
  <p>Words Found:</p>
  <div id="words-found"></div>
  <div id="game-feedback"></div>
  <div id="game-input" class="input-seven"></div>
</section>
