<section class="game-content">
  <div class="time-remaining">
    <span>Time Remaining</span>
    <span id="clock">:30</span>
  </div>
  <p id="words-found-label">Words Found:</p>
  <div id="words-found"></div>
  <div id="game-feedback"></div>
  <p>Inputted Word:</p>
  <div id="game-input" class="input-seven"></div>
</section>
<div id="time-expired">Time&nbsp;Expired!</div>
