<section class="center">
  <h1 class="title">Scramble</h1>
  <button id="instructions" class="modal-button">How to Play</button>
  <button id="start">Start</button>
</section>
<!-- The Modal -->
<div id="my-modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h3>How to Play</h3>
    </div>
    <div class="modal-body">
      <p>Utilizing the letters that appear in the word wheel, spell as many
        words as you can to earn the most points in the time given. Correct
        words are between 3-7 letters.
        If the word you form exists in the dictionary, it will appear in
        the 'Words Found' box. If the word you spell does not exist in
        the dictionary, you will not earn any points for that particular word.
        There are no proper nouns allowed.
      </p>
      <p>
        Once the round has ended,
        the game will tell you how many words you guessed correctly out of all
        possible words with the letters given. The game
        will also tell you how many points you earned for that round
        out of the total number of points you could have received.
      </p>
      <p>Have fun!</p>
    </div>
    <div class="modal-footer">
      <p>Author: Katie Rudoff</p>
    </div>
  </div>
</div>
