<section>
<h2>Round <span id="round"></span></h2>
<h3>Players</h3>
<div id="players"></div>
<p>When all players are connected, start the round by clicking the button below:</p>
<button id="ready">Begin Round</button>
</section>
