<section class="stats-content">
  <h2>Round <%= round %> Results</h2>
  <div id="summary"></div>
  <div class="scores">
    <table>
      <thead>
              <tr>
                      <th>User</th><th>Round <%= round %></th><th>Total</th>
              </tr>
      </thead>
      <tbody id="scores-tbody">
      </tbody>
    </table>
  </div>
  <button id="ready">Begin Round <%= round + 1 %></button>
</section>
